@media screen and (min-width:1020px) and (max-width: 2560px) {
    .container{
            width: 383px !important;
    }
    .select-btn{
        width: 98% !important;
    }
    .cardNew{
        height: 180px;
    }
}
@media screen and (min-width:720px) and (max-width: 1019px) {
    .container{
            width: 583px !important;
    }
    .select-btn{
        width: 98% !important;
    }
    .cardNew{
        height: 280px;
    }
    .cardNew .opntionTitle{
        font-size: 17px;
    }
}
@media screen and (min-width:300px) and (max-width: 320px) {

    .cardNew{
        height: 155px;
    }
}
@media screen and (min-width:375px) and (max-width: 420px) {

    .cardNew{
        height: 180px;
    }
}