*{
  font-family: 'Roboto', sans-serif;
}
#root{
  justify-content: center;
  display: flex;
  align-items: center;
}
.MuiFormLabel-root.Mui-focused{
  color: #39BFB8 !important ;
}
.animatable{
  width: 100%;
}
.MuiStepIcon-root.MuiStepIcon-active{
  color: #39BFB8 !important;
}
.MuiStepIcon-root.MuiStepIcon-completed{
  color: #39BFB8 !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border-color: #39BFB8 !important ;
}
.contenApp{
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MuiFormHelperText-root.Mui-error{
  position: relative;
  bottom: 14px;
  right: 12px;
}
.w-100{
  width: 100%;
}
.btn{
  border: none;
  padding: 11px 11px;
  border-radius: 11px;
  color: #fff;
  font-weight: 700;
}
.btn-primary.disabled, .btn-primary:disabled{
  color: #fff;
  background-color: #909090;
  border-color: #909090;
  box-shadow: 0 13.4px 20px -7px rgba(162, 162, 162, 0.53), 0 107px 146px -7px rgba(61, 164, 171, 0);
}
.atras{
  height: 44px;
  border: solid 2px #39BFB8 ;
  text-align: center;
  color: #39BFB8  ;
}
.atras:hover{
  background-color: #3da4ab94;
  color: #ffffff;
}
.progress{
    height: 3px;
}
.progress .progress-bar {
    background-color: #39BFB8 ;
}
.numberQuestions{
    background-color: #ed1d24;
    width: 23px;
    height: 23px;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.questionTitle{
    font-size: 21px;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
    font-weight: bold;
}
.text-center{
  text-align: center;
}
.MuiOutlinedInput-root{
  margin-bottom: 9px;
}
.questionSubTitle{
    font-size: 17px;
    color: #707070;
    letter-spacing: normal;
    text-align: left;
    font-weight: 300;
}
.title{
  font-size: 20px;
  line-height: 1.3;
  color: #868585;
  font-weight: 700;
  letter-spacing: normal;
  margin-bottom: 16px;
}
.contenText{
  font-size: 20px;
  color: #868585;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
}

.contenText b{
  font-size: 20px;
  color: #868585;
  font-weight: 700;
}
.select-btn{
    border-radius: 7px;
    border: solid 0.5px #cecece;
    padding: 12px 9px;
    font-size: 16px;
    color: #707070;
    font-weight: 400;
    background-color: #fff;
    text-align: left;
    position: relative;
}
.center{
    justify-content: center;
}
.selector{
   width: 47%;
   margin: 2px;
   margin-top: 10px;
}
.active{
    color: #39BFB8 ;
    border: solid 1px #39BFB8 ;
    transition: 100ms;
    outline: none !important;
}
.active::before{
    content: url(../assets/img/check-mark.svg);
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    box-sizing: border-box;
    padding: 5px;
    right: 5px;
    top: 10px;
    transition: 500ms;
}
.btn{
    transition: 1000ms;
}
.mood-btn{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    color: #707070;
    text-align: left;
    font-weight: 400;
    padding: 0px 32px;
}
.mood-btn:hover{
    background-color: #3da4ab65;
    color: #39BFB8;
    font-weight: bold;
}
.swal-modal{
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 0px;
    width: 100%;
    height: 60%;
}
.swal-content{
    padding: 20px 0px;
}
.metros .active{
    border: none;
}
.container {
    padding: 0px;
  }

  .animate-option {
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.bar{
  font-size: 13px;
  color: #707070;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 500;
}
  @-webkit-keyframes swal-modal {
    from {
      -webkit-transform: translate3d(0, 100%, 0) !important;
      transform: translate3d(0, 100%, 0) !important;
      visibility: visible !important;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0) !important;
    }
  }
  @keyframes swal-modal {
    from {
      -webkit-transform: translate3d(0, 100%, 0) !important;
      transform: translate3d(0, 100%, 0) !important;
      visibility: visible !important;
    }

    to {
      -webkit-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0) !important;
    }
  }
  .swal-modal{
    -webkit-animation-name:  swal-modal !important;
    animation-name:  swal-modal !important;
  }
  .swal-modal {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .swal-modal.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  .swal-modal.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  .swal-modal.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
  }

  .swal-modal.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
  }

  .swal-modal.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }

  .swal-modal.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
  }

  .swal-modal.fast {
    -webkit-animation-duration: 800ms;
    animation-duration: 800ms;
  }

  .swal-modal.faster {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
  }

  .swal-modal.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }

  .swal-modal.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
  }
.consten-pregunt{
  overflow: auto;
  height: 255px;
}
  @media (print), (prefers-reduced-motion: reduce) {
    .swal-modal {
      -webkit-animation-duration: 1ms !important;
      animation-duration: 1ms !important;
      -webkit-transition-duration: 1ms !important;
      transition-duration: 1ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
    }
  }

  input[type=range] {
    height: 12px;
    -webkit-appearance: none;
    margin: 0px;
    width: 90%;
    background-color: transparent;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #3da4ab;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  /*Stulos de la bolita*/
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #f78787;
    border: 1px solid #ffffff;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #32898f;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
    position: relative;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #30858b;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #3da4ab;
    transition: 500ms;
    border-radius: 1px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #3da4ab;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #3da4ab;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animation: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #3da4ab;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #2497E3;
    border: 0px solid #913030;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #3da4ab;
    height: 18px;
    width: 18px; 
    border-radius: 25px;
    background: #3da4ab;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3da4ab;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #3da4ab;
  }

  .rango{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 95%;
  }
  .conten_range{
    height: 115px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .globo{
    width: 50px;
    height: 50px;
    background-color: #3da4ab;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 2px;
    position: absolute;
    transition: 400ms;
    bottom: 37px;
  }
  .globo::before{
    content: "";
    display: block;
    position: absolute;
    width: 0px;
    height: 0;
    border-left: 15px solid #3da4ab;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    transform: rotate(90deg);
    bottom: -14px;
    right: 18px;
  }
  .textValue{
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
  }
  .nameChilden{
    position: absolute;
    bottom: -40px;
    left: 0px;
    padding: 6px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 15px;
    width: 100%;
    text-align: center;
    line-height: 15px;
    color: #9e9e9e;
  }
.conten{
  overflow: auto;
  padding-top: 10px;
  display: grid;
  padding-left: 11px;
}
.card{
  border-radius: 10px;
  border: none;
  width: 190px;
  margin-right: 11px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
  grid-row: 1;
}
.card a {
  text-decoration: none;
}
.card .card-title{
  color: rgb(78, 77, 77);
  font-size: 14px;
  font-weight: 400;
  height: 50px;
}
.cuotas{
  color: #39BFB8;
  font-size: 15px;
  margin: 0
}
.price{
  font-size: 15px;
  font-weight: 400;
  color: #555555;
  margin: 0;
}
.items{
  position: relative;
  padding-left: 25px;
  color: #707070;
  font-weight: 700;
  font-size: 17px;
  margin: 0px;
}
.items::before{
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #30858b;
  display: block;
  position: absolute;
  left: 10px;
  top: 7px;
}
::-webkit-scrollbar {
  display: none;
}
.btn {
  transition: 500ms;
}
.p-relative{
  position: relative;
  width: 100%;
  height: 36px;
  margin-bottom: 30px;
}
.contImg{
  height: 150px;
}
.contImg img{
  height: 100%;
}
.contTama{
  font-size: 16px;
  text-align: center;
  color: #9e9e9e;
  font-weight: 700;
}
.cardNew{
  height: 162px;
}
.opntionTitle{
    margin-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
    color: #3da4ab;
    position: relative;
    position: absolute;
    bottom: 16px;
    left: 16%;
}
.click{
  background-color: rgba(255, 255, 255, 0);
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  outline: none;
  border-radius: 10px;
  border: none;
}
.cardNew .active{
  color: #3da4ab;
  border: solid 3px #3da4ab;
}
.form-primary{
  margin: 4px 0px 4px 0px;
}
.margin{
  padding: 16px !important ;
  box-sizing: border-box;
}
.terTitle{
  font-size: 20px;
  font-weight: bold;
  color: #868585;
}
.t2{
  font-size: 18px;
  font-weight: 400;
}
.texTerm{
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  color: #868585;
}
.linkTerm{
  text-decoration: underline !important;
  color: #35bee6 !important;
}
.pop{
  height: 100vh;
  overflow: auto;
  width: 100%;
  background-color: #0000009c;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pop-content{
  width: 90%;
  text-align: center;
  background-color: #fff;
  padding: 16px;
  border-radius: 10px;
  z-index: 1;
}
.contenForm{
  overflow: auto;
}
.contenLoading{
  height: 100%;
  width: 100%;
  background-color: #00000059;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenLoading .loading{
  width: 80%;
  background-color: #fff;
  height: 158px;
  border-radius: 16px;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #d8232a;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #d8232a transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.titleAsesor{
  color: #868585;
}
.btnAnimated{
  transition: 1500ms;
}
.otra{
  height: 140px;
}
#cupoConten{
  transition: 1500ms;
  margin-bottom: 16px;
}
.text-center b{
  font-size: 20px;
  color: #868585;
  font-weight: 700;

}
.cupoPrice{
  height: 100%;
  width: 91%;
  border: solid 2px #fff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 6px;
}
.priceCupo{
  width: 100%;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 4px 0px;
}
.colorAMARILLO{
  color: #ffc152;
  margin-bottom: 0;
}
.titleCupon{
  font-size: 23px;
  font-weight: 400;
  letter-spacing: 0px;
  margin-bottom: 0;;
}
.compratitle{
  font-size: 12px;
  margin-bottom: 0px;
  margin-top: 5px;

}
.AMARILLO{
  background-color: #ffc152;
}
.AZUL{
  background-color: #529bff;
}
.colorAZUL{
  color: #529bff;
  margin-bottom: 0;
}
.NARANJA{
  background-color: #fd8a43;
}
.colorNARANJA{
  color: #fd8a43;
  margin-bottom: 0;
}
.ROJO{
  background-color: #e8393f;
}
.colorROJO{
  color: #e8393f;
  margin-bottom: 0;
}
.listQuestion{
  display: flex;
  justify-content: flex-end;
}
.listQuestion div{
  height: 21px;
  width: 21px;
  border: solid 1px #e8393f;
  border-radius: 100px;
  margin: 4px;
  color: #e8393f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listQuestion .activeQ{
  background-color:#e8393f ;
  color: #ffffff;
}

.containerQuestion .imgBott{
  text-align: center;
}
.extraDirection{
  display: flex;
  color:#868585;
  align-items: center;
  justify-content: space-between;
}
.extraDirection h5{
  position: relative;
  left: 8px;
  font-size: 14px;
  font-weight: bold;
}
.direciontComplete{
  border-bottom: solid 1px #bfbbbb;
  height: 100%;
  margin: 0px;
  color: #868585;
  font-weight: 500;
  margin-bottom: 13px;
  padding-bottom: 3px;
}
.example{
  color: #c4c4c4;
}