.btn-primary{
    background-color: #3da4ab;
    border: none;
    font-weight: 200;
    font-size: 18px;
    box-shadow: 0 13.4px 20px -7px rgba(61, 164, 171, 0.53), 0 107px 146px -7px rgba(61, 164, 171, 0);
    padding: 8px;
    cursor: pointer;
    border-radius: 100px !important;
}
.btn-primary a{
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
    width: 100%;
    font-weight: 300;
}
.btn-primary:hover{
    background-color: #3da4ab;
    outline: none;
}
.btn-primary:active{
    background-color: #218990!important;
}
.title{
    font-family: HelveticaNeue;
    font-size: 26px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
}
.conten-text{
    color: #707070;
    font-size: 22px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
}
.conten-text b{
    font-weight: bold;
}
.registes{
    font-family: HelveticaNeue;
    font-size: 16px;
    text-align: center;
    color: #707070;
    font-weight: 100;
}
.registes b{
    font-weight: 100;
    color: #3da4ab;
}
.form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #3da4ab;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(61, 164, 171, 0.35);
}
.form-control{
    padding: 20px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 200;
}